@charset "UTF-8";
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #9FA38C;
  border-radius: 20%;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-button {
  background: #9FA38C;
  height: 15px;
  border-radius: 50%;
}

.jt-heading--03 {
  margin-top: 31px;
  font-size: 22px;
  line-height: 1.54;
  font-weight: 400;
  letter-spacing: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  color: #000;
}

#wrap {
  height: 100%;
}

.mobile-modal-menu {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 4;
}
.mobile-modal-menu > div {
  padding: 0 35px;
  box-sizing: border-box;
  background: #fff;
}
.mobile-modal-menu > div .mobile-modal-menu-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap {
  margin-top: 40px;
  width: 50px;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt .appbar-line {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background: #222;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt .appbar-line.appbar-line1 {
  transform: rotate(45deg);
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt .appbar-line.appbar-line2 {
  transform: rotate(-45deg);
}
.mobile-modal-menu > div .mobile-modal-menu-list {
  width: 100%;
  height: 100vh;
  background: #fff;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul {
  width: 100%;
  margin-top: 30px;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li {
  font-family: sans-serif;
  font-size: 24px;
  padding: 10px 0;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li:nth-child(3) > a {
  color: rgb(169, 108, 22);
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li:nth-child(3) > a {
  margin-bottom: 50px;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li a {
  display: inline-block;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 1s;
  position: relative;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #000;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li:hover > a::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
.mobile-modal-menu > div .mobile-modal-menu-footer {
  padding-top: 20px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer p {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-button {
  margin-bottom: 20px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-button button {
  background: #000;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span {
  display: inline-block;
  margin: 0 4px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span a {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #aaa;
  text-align: center;
  transition: 1s;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span a:hover {
  background: #fff;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span a i {
  display: block;
  font-size: 15px;
  color: #000;
  line-height: 27px;
}

#header {
  position: fixed;
  height: 113px;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 60px;
}
#header .h-box {
  width: 100%;
  margin-top: 40px;
}
#header .h-box .header-mobile-menu-bar {
  display: none;
  width: 100%;
  text-align: center;
}
#header .h-box .header-mobile-menu-bar h1 {
  display: inline-block;
}
#header .h-box .header-mobile-menu-bar h1 img {
  width: 100%;
}
#header .h-box .header-mobile-menu-bar .header-appBar-wrap {
  display: block;
  width: 22px;
  height: 14px;
}
#header .h-box .header-mobile-menu-bar .header-appBar-wrap .appbarBt {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
#header .h-box .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: 0;
  left: 0;
}
#header .h-box .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line.appbar-line1 {
  top: 0;
}
#header .h-box .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line.appbar-line2 {
  top: 50%;
}
#header .h-box .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line.appbar-line3 {
  top: 100%;
}
#header .h-box .header-mobile-menu-bar .header-search-wrap {
  display: block;
  width: 22px;
}
#header .h-box .header-mobile-menu-bar .header-search-wrap a {
  font-size: 20px;
}
#header .h-box .header-mobile-menu-bar .header-search-wrap a .fa-search {
  color: #000;
}
#header .h-box .header-logoNav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#header .h-box .header-logoNav h1 {
  flex-grow: 1;
}
#header .h-box .header-logoNav h1 a {
  color: #222;
}
#header .h-box .header-logoNav nav {
  display: flex;
  flex-grow: 2;
}
#header .h-box .header-logoNav nav span {
  display: block;
}
#header .h-box .header-logoNav nav span:nth-child(1) {
  flex-grow: 0.3;
}
#header .h-box .header-logoNav nav span:nth-child(2) {
  flex-grow: 1.5;
}
#header .h-box .header-logoNav nav span:nth-child(3) {
  flex-grow: 0.5;
}
#header .h-box .header-logoNav nav span:nth-child(4) {
  flex-grow: 0.5;
}
#header .h-box .header-logoNav nav span:nth-child(5) {
  flex-grow: 0.5;
}
#header .h-box .header-logoNav nav span a {
  font-size: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 1s;
  position: relative;
}
#header .h-box .header-logoNav nav span a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #000;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}
#header .h-box .header-logoNav nav span a i {
  display: block;
  font-size: 24px;
}
#header .h-box .header-logoNav nav span:hover > a::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
#header .h-box .header-logoNav nav span:last-child:hover a:after {
  display: none;
}
#header .h-box .header-logoNav nav span:last-child {
  padding-right: 5px;
}

#main {
  padding: 113px 60px 0;
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* Swiper */
/* pagination */
.swiper-control {
  width: 143px;
  margin-left: -67px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  font-size: 0;
  text-align: center;
  z-index: 1;
}
.swiper-control .custom-fraction {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: auto;
  left: auto;
  font-size: 16px;
  font-weight: 400;
  font-feature-settings: "tnum";
}
.swiper-control .custom-fraction .swiper-button-prev {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-top: 0;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  background: none;
}
.swiper-control .custom-fraction .swiper-button-prev::after {
  content: none;
}
.swiper-control .custom-fraction .swiper-button-prev i.jt-guide--icon {
  width: 10px;
  height: 16px;
  margin-left: -5px;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  top: 50%;
}
.swiper-control .custom-fraction .currentBox {
  display: inline-block;
  width: 70px;
}
.swiper-control .custom-fraction .swiper-button-next {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  margin-top: 0;
}
.swiper-control .custom-fraction .swiper-button-next::after {
  content: none;
}
.swiper-control .custom-fraction .swiper-button-next i.jt-guide--icon {
  width: 10px;
  height: 16px;
  margin-left: -5px;
  margin-top: -10px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main .swiperBox {
  width: 100%;
}
#main .swiperBox .main-visual__typo {
  max-width: 650px;
  margin-top: 30px;
}
#main .swiperBox .main-visual__typo .casaTypo {
  font-size: 22px;
  line-height: 1.54;
  font-weight: 400;
  letter-spacing: 0;
}
#main .swiperBox .main-visual__typo .casaTypo a {
  display: inline-block;
  max-width: 100%;
  border-bottom: 1px solid transparent;
  transition: border 1s;
}
#main .swiperBox .main-visual__typo .casaTypo a:hover {
  border-bottom: 1px solid #222;
}
#main .main-cases {
  margin-top: 172px;
  opacity: 1;
  pointer-events: all;
}
#main .main-cases .main-cases__title {
  margin-bottom: 28px;
}
#main .main-cases .main-cases__title h2.motion-anchor {
  font-size: 0;
}
#main .main-cases .main-cases__title h2.motion-anchor .heading--01 {
  font-size: 90px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
}
#main .main-cases .main-cases__title h2.motion-anchor .text--04 {
  margin-top: 18px;
  margin-left: 11px;
  vertical-align: top;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0;
  display: inline-block;
}
#main .main-cases .main-cases__title .motion-anchor__blank {
  display: inline-block;
  width: 29px;
  height: 3px;
  position: relative;
  animation: blink_caret 1.2s step-end infinite;
}
@keyframes blink_caret {
  0%, 100% {
    background: transparent;
  }
  50% {
    background: #000;
  }
}

.main-cases__content .main-cases__list {
  position: relative;
  z-index: 1;
}
.main-cases__content .main-cases__list .main-cases__group--01 {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-top: 1px solid #000;
}
.main-cases__content .main-cases__list .main-cases__group--01:after {
  left: 59%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first {
  padding: 100px 100px 100px 0;
  width: 63%;
  box-sizing: border-box;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first .main-cases__item {
  float: right;
  width: 100%;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first .main-cases__item a {
  display: block;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first .main-cases__item a:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
  transition: 0.5s;
}
.main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last {
  padding: 100px 0 100px 100px;
  width: 37%;
}
.main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last .main-cases__secondary {
  position: relative;
}
.main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last .main-cases__secondary > a > .main-cases__thumb img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
}
.main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last .main-cases__secondary > a:hover img {
  opacity: 0;
  visibility: hidden;
}
.main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last .main-cases__secondary > a:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
  transition: 0.5s;
}
.main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last .main-cases__secondary > a .main-cases__thumb--hover img {
  opacity: 1;
  visibility: visible;
}
.main-cases__content .main-cases__list .main-cases__group--02 {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-top: 1px solid #000;
  align-items: flex-end;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__first {
  width: 37%;
  position: relative;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__first .main-cases__typo {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: 0;
  padding: 100px 0;
}
.main-cases__content .main-cases__list .main-cases__group--02::after {
  left: 37%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last {
  width: 63%;
  padding: 100px 0 100px 100px;
  box-sizing: border-box;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last .main-cases__item {
  max-width: 900px;
  position: relative;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb .main-cases__thumb--base > img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb .main-cases__thumb--base:hover img {
  opacity: 0;
  visibility: hidden;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb .main-cases__thumb--hover img {
  opacity: 1;
  visibility: visible;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last .main-cases__item a:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
  transition: 0.5s;
}
.main-cases__content .main-cases__list .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb--hover img {
  opacity: 1;
  visibility: visible;
}

#mobile-main {
  display: none;
}

#stories {
  width: 100%;
  background: #E7E4DD;
}

#stories .container {
  padding: 100px 0;
}

#stories .storiesBody {
  position: relative;
  width: 100%;
  height: 650px;
}

#stories .storiesBody .contents {
  width: 22%;
  height: auto;
  float: left;
  background: #fff;
  position: absolute;
  transition: transform 1s;
  box-shadow: 0 0 5px #d0d0d0;
}

#stories .storiesBody .contents:hover {
  background: #9FA38C;
  color: #fff;
}

/* 첫번째 이미지 가운데 위치 */
#stories .storiesBody .col1 {
  left: 50%;
  top: 150px;
  transform: scale(1);
  z-index: 1;
  margin-left: -11%;
}

#stories .storiesBody .col2 {
  left: 10%;
  top: 50px;
  transform: scale(0.9);
  opacity: 0.5;
}

#stories .storiesBody .col3 {
  left: 50%;
  transform: scale(0.8);
  margin-left: -11%;
  opacity: 0.2;
}

#stories .storiesBody .col4 {
  left: 68%;
  top: 50px;
  transform: scale(0.9);
  opacity: 0.5;
}

#stories .storiesBody .contents .conImg {
  position: relative;
  width: 100%;
}

#stories .storiesBody .contents .conImg img {
  width: 100%;
}

#stories .storiesBody .contents .conT {
  padding: 10px 15px;
  position: relative;
}

#stories .storiesBody .contents .conT dl dt a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 0 0;
}

#stories .storiesBody .contents .conT dl dd {
  margin-top: 5px;
  font-size: 15px;
}

/* 16px에 80%만 가지게 */
#stories .storiesBody .contents .conT p {
  text-align: right;
  margin-top: 10px;
  font-style: italic;
  font-size: 80%;
}

#stories .storiesBody .contentsBtn > a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
}

#stories .storiesBody .contentsBtn .next {
  top: 40%;
  right: 20px;
  transform: rotate(90deg);
}

#stories .storiesBody .contentsBtn .prev {
  top: 40%;
  left: 20px;
  transform: rotate(-90deg);
}

.main-container {
  padding: 0 60px;
}
.main-container .main-cases__group--03 {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.main-container .main-cases__group--03 > .main-cases__first {
  width: 50%;
  padding: 175px;
}
.main-container .main-cases__group--03 > .main-cases__first > .main-cases__item {
  width: 100%;
  max-width: 550px;
}
.main-container .main-cases__group--03 > .main-cases__first > .main-cases__item:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
}
.main-container .main-cases__group--03 .main-cases__last {
  width: 50%;
  padding: 175px;
}
.main-container .main-cases__group--03 .main-cases__last > .main-cases__item {
  width: 100%;
  max-width: 550px;
}
.main-container .main-cases__group--03 .main-cases__last > .main-cases__item:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
}
.main-container .main-cases__group--03::after {
  left: 50%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}
.main-container .main-cases__group--04 {
  display: flex;
  align-items: flex-end;
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.main-container .main-cases__group--04 .main-cases__first {
  width: 37%;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more {
  display: block;
  width: 100%;
  padding: 85px 240px 85px 43px;
  position: relative;
  transition: background 0.3s;
  border-top: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more::before {
  content: "";
  width: 198px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #f4f4f4;
  opacity: 0;
  transition: opacity 0.3s;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more:hover:before {
  opacity: 1;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more .jt-text--05 {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 400;
  letter-spacing: 0;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more i.jt-guide--icon {
  width: 68px;
  height: 42px;
  margin-top: -21px;
  position: absolute;
  right: 70px;
  top: 50%;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 198px;
  background: #000;
}
.main-container .main-cases__group--04 .main-cases__last {
  box-sizing: border-box;
  z-index: 1;
  padding: 114px 0 114px 114px;
  width: 63%;
}
.main-container .main-cases__group--04 .main-cases__last .main-cases__item:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
}
.main-container .main-cases__group--04::after {
  left: 37%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}

.mobile-swiper {
  display: none;
}

#footer {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
}
#footer .footer__inner {
  position: relative;
}
#footer .footer__inner a.go-top {
  padding: 0 8px;
  position: absolute;
  right: 22px;
  top: 60px;
  z-index: 1;
}
#footer .footer__inner a.go-top i.jt-guide--icon {
  display: block;
}
#footer .footer__inner .footer__top {
  padding: 312px 0 311px;
  position: relative;
  border-bottom: 1px solid #000;
  border-width: 1px 0;
  height: 400px;
  box-sizing: border-box;
}
#footer .footer__inner .footer__top .footer__typo p {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.33;
}
#footer .footer__inner .footer__top .footer__typo span.footer__typo-blank {
  display: inline-block;
  width: 29px;
  height: 3px;
  position: relative;
  left: -10px;
  bottom: -3px;
  animation: blink_caret 1.2s step-end infinite;
}
@keyframes blink_caret {
  0%, 100% {
    background: transparent;
  }
  50% {
    background: #000;
  }
}
#footer .footer__inner .footer__top .footer__sns-wrap {
  position: absolute;
  right: 0;
  bottom: 21px;
  z-index: 1;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns {
  text-align: right;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li {
  display: inline-block;
  vertical-align: middle;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li a {
  display: block;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.86;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li a > span {
  position: relative;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li a > span::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: -3px;
  background: #000;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li a:hover > span::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li:first-child a {
  padding-left: 0;
}
#footer .footer__inner .footer__top .footer__sns-wrap ul.footer__sns li:last-child a {
  padding-right: 0;
}
#footer .footer__inner .footer__bottom {
  padding: 29px 0 130px;
  position: relative;
}
#footer .footer__inner .footer__bottom .footer__info p.footer__info-btn {
  display: inline-block;
  padding-right: 20px;
  position: relative;
  cursor: pointer;
}
#footer .footer__inner .footer__bottom .footer__info p.footer__info-btn span.copyright {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
}
#footer .footer__inner .footer__bottom .footer__info p.footer__info-btn i.jt-guide--icon {
  width: 10px;
  height: 8px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
}
#footer .footer__inner .footer__bottom .footer__info p.footer__info-btn i.jt-guide--icon svg {
  display: block;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1200px) {
  #main .main-cases {
    margin-top: 100px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .heading--01 {
    font-size: 60px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .text--04 {
    margin-top: 9px;
    margin-left: 9px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .motion-anchor__blank {
    width: 24px;
    height: 2px;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first {
    padding: 60px 60px 60px 0;
    width: 63%;
    box-sizing: border-box;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last {
    padding: 60px 0 60px 60px;
    width: 37%;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--02 .main-cases__first .main-cases__typo {
    font-size: 12px;
    padding: 60px 60px 60px 0;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--02 .main-cases__last {
    padding: 60px 0 60px 60px;
  }
  #content #stories > .container {
    padding: 0;
  }
  #content #stories > .container .storiesBody {
    height: 700px;
    position: relative;
    top: 80px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first {
    padding: 80px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first > .main-cases__item {
    width: 100%;
    max-width: 550px;
  }
  #content .main-container .main-cases__group--03 .main-cases__last {
    padding: 80px;
  }
}
@media screen and (max-width: 992px) {
  #header .h-box .header-logoNav nav > span > a {
    font-size: 16px;
  }
  #main .main-cases {
    margin-top: 110px;
  }
  #main .main-cases .main-cases__title {
    margin-bottom: 18px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor {
    font-size: 0;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .heading--01 {
    font-size: 55px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .text--04 {
    margin-top: 9px;
    margin-left: 9px;
    vertical-align: top;
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .motion-anchor__blank {
    display: inline-block;
    width: 24px;
    height: 2px;
    bottom: 0;
    position: relative;
    animation: blink_caret 1.2s step-end infinite;
  }
  @keyframes blink_caret {
    0%, 100% {
      background: transparent;
    }
    50% {
      background: #000;
    }
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first {
    padding: 52px 52px 52px 0;
    width: 63%;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last {
    padding: 52px 0 52px 52px;
    width: 37%;
  }
  #content #stories > .container {
    padding: 0;
  }
  #content #stories > .container .storiesBody {
    height: 550px;
    position: relative;
    top: 60px;
  }
  #content #stories > .container .storiesBody .contents .conT dl dt a {
    font-size: 16px;
  }
  #content #stories > .container .storiesBody .contents .conT dl dd {
    font-size: 0;
  }
  #content #stories > .container .storiesBody .contents:hover dl > dt > a {
    color: #fff;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first {
    padding: 50px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first > .main-cases__item a h3.jt-heading--03 {
    font-size: 18px;
  }
  #content .main-container .main-cases__group--03 .main-cases__last {
    padding: 50px;
  }
  #content .main-container .main-cases__group--03 .main-cases__last > .main-cases__item a h3.jt-heading--03 {
    font-size: 18px;
  }
  #content .main-cases__group--04 {
    display: flex;
    align-items: flex-end;
    position: relative;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  #content .main-cases__group--04 .main-cases__first {
    width: 37%;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more {
    display: block;
    width: 100%;
    padding: 65px 190px 65px 13px;
    position: relative;
    transition: background 0.3s;
    border-top: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more::before {
    content: "";
    width: 198px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4;
    opacity: 0;
    transition: opacity 0.3s;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more:hover:before {
    opacity: 1;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more .jt-text--05 {
    font-size: 14px;
    line-height: 1.66;
    font-weight: 400;
    letter-spacing: 0;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more i.jt-guide--icon {
    width: 68px;
    height: 42px;
    margin-top: -21px;
    position: absolute;
    right: 50px;
    top: 50%;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 170px;
    background: #000;
  }
  #content .main-cases__group--04 .main-cases__last {
    box-sizing: border-box;
    z-index: 1;
    padding: 114px 0 114px 114px;
    width: 63%;
  }
  #content .main-cases__group--04 .main-cases__last .main-cases__item:hover .jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
  }
  #content .main-cases__group--04::after {
    left: 37%;
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    background: #000;
  }
}
@media screen and (max-width: 776px) {
  #content .main-cases__group--04 .main-cases__first a.main-cases__more {
    padding: 65px 153px 65px 13px;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4;
    opacity: 0;
    transition: opacity 0.3s;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more:hover:before {
    opacity: 1;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more .jt-text--05 {
    display: none;
  }
  #content .main-cases__group--04 .main-cases__first a.main-cases__more::after {
    display: none;
  }
  #footer {
    padding: 0 60px;
  }
  #footer .footer__inner a.go-top {
    right: 0;
    padding: 0;
  }
  #footer .footer__inner .footer__top {
    border-top: none;
    position: relative;
    padding: 150px 0 0;
    height: 350px;
  }
  #footer .footer__inner .footer__top .footer__typo p.type {
    font-size: 25px;
  }
  #footer .footer__inner .footer__top .footer__sns-wrap {
    bottom: 20px;
  }
  #footer .footer__inner .footer__bottom {
    padding: 30px 0 50px;
  }
  #footer .footer__inner .footer__bottom .footer__info p.footer__info-btn > span.copyright {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .mobile-modal-menu {
    display: block;
    z-index: 100;
  }
  #header {
    position: fixed;
    height: 113px;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 3;
    box-sizing: border-box;
    padding: 0 30px;
  }
  #header .h-box {
    width: 100%;
    margin-top: 40px;
  }
  #header .h-box .header-mobile-menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
  }
  #header .h-box .header-mobile-menu-bar .header-appBar-wrap {
    left: 0;
  }
  #header .h-box .header-mobile-menu-bar .header-appBar-wrap .header-search-wrap {
    display: block;
    width: 22px;
    right: 0;
    top: 20px;
  }
  #header .h-box .header-mobile-menu-bar .header-appBar-wrap .header-search-wrap a {
    font-size: 20px;
  }
  #header .h-box .header-mobile-menu-bar .header-appBar-wrap .header-search-wrap a .fa-search {
    color: #000;
  }
  #header .h-box aside {
    display: none;
  }
  #header .h-box .header-logoNav {
    display: none;
  }
  #main {
    display: none;
  }
  #mobile-main {
    overflow-x: hidden;
    display: block;
    padding: 110px 25px;
  }
  #mobile-main .m-main-visual__typo {
    max-width: calc(100% - 60px);
    margin-top: 15px;
  }
  #mobile-main .m-main-cases {
    margin-top: 70px;
  }
  #mobile-main .m-main-cases .m-main-cases__title {
    margin-bottom: 18px;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor {
    font-size: 0;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor .m-heading--01 {
    font-size: 47px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor .m-text--04 {
    margin-top: 0;
    margin-left: 9px;
    vertical-align: top;
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor .m-motion-anchor__blank {
    display: inline-block;
    width: 24px;
    height: 3px;
    bottom: 0;
    position: relative;
    animation: blink_caret 1.2s step-end infinite;
  }
  @keyframes blink_caret {
    0%, 100% {
      background: transparent;
    }
    50% {
      background: #000;
    }
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 {
    display: flex;
    flex-wrap: wrap;
    border-top: none;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__first .m-main-cases__item a .m-jt-heading--03 {
    margin-top: 15px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__first .m-main-cases__item a .m-jt-heading--03 span {
    font-size: 22px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last {
    margin-top: 56px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb {
    position: relative;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb > img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb:hover img {
    opacity: 0;
    visibility: hidden;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb--hover > img {
    opacity: 1;
    visibility: visible;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a .m-jt-heading--03 {
    margin-top: 15px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a .m-jt-heading--03 span {
    font-size: 22px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary:hover .m-jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
    transition: 0.5s;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 {
    margin-top: 56px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb {
    position: relative;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-main-cases__thumb--base img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-main-cases__thumb--base:hover img {
    opacity: 0;
    visibility: hidden;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-main-cases__thumb--hover > img {
    opacity: 1;
    visibility: visible;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-jt-heading--03 {
    margin-top: 15px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-jt-heading--03 span {
    font-size: 22px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a:hover .m-jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
    transition: 0.5s;
  }
  #mobile-main .mobile-swiper {
    width: 100%;
    display: block;
    margin-top: 100px;
    margin-bottom: 50px;
  }
  #mobile-main .mobile-swiper .m-swiper {
    width: 40%;
  }
  #mobile-main .mobile-swiper .m-swiper .swiper-wrapper .img-bg {
    width: 100%;
  }
  #content .main-container {
    display: block;
    padding: 0 25px;
  }
  #content .main-container .main-cases__group--03 {
    display: flex;
    flex-direction: column;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first {
    padding: 0;
    width: 100%;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first > .main-cases__item {
    width: 100%;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first > .main-cases__item > a .jt-heading--03 {
    margin-top: 15px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first > .main-cases__item > a .jt-heading--03 span {
    font-size: 22px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__first > .main-cases__item:hover .jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
  }
  #content .main-container .main-cases__group--03 > .main-cases__last {
    padding: 0;
    padding-top: 70px;
    width: 100%;
  }
  #content .main-container .main-cases__group--03 > .main-cases__last > .main-cases__item {
    width: 100%;
  }
  #content .main-container .main-cases__group--03 > .main-cases__last > .main-cases__item > a .jt-heading--03 {
    margin-top: 15px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__last > .main-cases__item > a .jt-heading--03 span {
    font-size: 22px;
  }
  #content .main-container .main-cases__group--03 > .main-cases__last > .main-cases__item:hover .jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
  }
  #content .main-container .main-cases__group--03::after {
    display: none;
  }
  #content .main-container .main-cases__group--04 {
    border-top: none;
    display: flex;
    flex-direction: column-reverse;
  }
  #content .main-container .main-cases__group--04 .main-cases__last {
    padding: 0;
    padding-top: 70px;
    width: 100%;
  }
  #content .main-container .main-cases__group--04 .main-cases__last .main-cases__item a h3.jt-heading--03 {
    margin-top: 15px;
  }
  #content .main-container .main-cases__group--04 .main-cases__last .main-cases__item:hover .jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
  }
  #content .main-container .main-cases__group--04::after {
    display: none;
  }
  #content .main-container .main-cases__group--04 .main-cases__first {
    padding-top: 70px;
    width: 100%;
  }
  #content .main-container .main-cases__group--04 .main-cases__first a.main-cases__more {
    display: block;
    width: 100%;
    padding: 38px 250px 38px 24px;
    position: relative;
    transition: background 0.3s;
    border-top: 1px solid #000;
    box-sizing: border-box;
    cursor: pointer;
  }
  #content .main-container .main-cases__group--04 .main-cases__first a.main-cases__more::before {
    content: "";
    width: 198px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f4f4f4;
    opacity: 0;
    transition: opacity 0.3s;
  }
  #content .main-container .main-cases__group--04 .main-cases__first a.main-cases__more:hover:before {
    opacity: 1;
  }
  #content .main-container .main-cases__group--04 .main-cases__first a.main-cases__more .jt-text--05 {
    width: 100%;
    text-align: center;
    display: block;
  }
  #content .main-container .main-cases__group--04 .main-cases__first a.main-cases__more::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 198px;
    background: #000;
  }
  #footer {
    padding: 0 25px;
  }
  #footer .footer__inner a.go-top {
    right: 0;
    padding: 0;
  }
  #footer .footer__inner .footer__top {
    height: 350px;
  }
  #footer .footer__inner .footer__top .footer__typo p.type {
    font-size: 25px;
  }
  #footer .footer__inner .footer__top .footer__sns-wrap {
    bottom: 20px;
  }
  #footer .footer__inner .footer__bottom {
    padding: 30px 0 50px;
  }
  #footer .footer__inner .footer__bottom .footer__info p.footer__info-btn > span.copyright {
    font-size: 14px;
  }
  #content > #stories {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */