@charset 'utf-8';



.jt-heading--03 {
    margin-top: 31px;
    font-size: 22px;
    line-height: 1.54;
    font-weight: 400;
    letter-spacing: 0;
}


$color-white:#fff;
$bg-color: #222;
$white-color: #fff;

html {height: 100%}

body {color: $white-color; height: 100%;}

body {font-family: sans-serif;}

a {color: #000}

#wrap {height: 100%;}

.mobile-modal-menu {
    display: none;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 4;

    >div {
        padding: 0 35px;
        box-sizing: border-box;
        background: $white-color;

        .mobile-modal-menu-bar {
            width: 100%;
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .modal-appBar-wrap {
                margin-top: 40px;
                width: 50px;

                .appbarCloseBt {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 50px;

                    .appbar-line {
                        display: block;
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        height: 2px;
                        margin-top: -1px;
                        background: $bg-color;

                        &.appbar-line1 {
                            transform: rotate(45deg);
                        }

                        &.appbar-line2 {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }

        .mobile-modal-menu-list {
            width: 100%;
            height: 100vh;
            background: $color-white;

            ul {
                width: 100%;
                margin-top: 30px;
                li {
                    font-family: sans-serif;
                    font-size: 24px;
                    padding: 10px 0;

                    &:nth-child(3)>a {
                        color: rgba(169, 108, 22, 1)
                    }

                    &:nth-child(3)>a {
                        margin-bottom: 50px;
                    }
                    a {
                        display: inline-block;
                        border-bottom: 1px solid rgba(255, 255, 255, 1);
                        transition: 1s;
                        position: relative;
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            background: #000;
                            -webkit-transform-origin: 100% 50%;
                            -ms-transform-origin: 100% 50%;
                            transform-origin: 100% 50%;
                            -webkit-transform: scale3d(0, 1, 1);
                            transform: scale3d(0, 1, 1);
                            -webkit-transition: -webkit-transform .3s;
                            transition: -webkit-transform .3s;
                            transition: transform .3s;
                            transition: transform .3s, -webkit-transform .3s;
                        }
                    }
                    &:hover > a::after{
                        -ms-transform-origin: 0% 50%;
                        transform-origin: 0% 50%;
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }

        .mobile-modal-menu-footer {
            padding-top: 20px;

            p {
                font-size: 16px;
                font-weight: 500;
                line-height: 140%;
                color: rgba(255, 255, 255, .6);
                margin-bottom: 20px;
            }

            .mobile-modal-menu-footer-button {
                button {
                    background: #000;
                    color: rgba(255, 255, 255, .6);
                    font-size: 16px;
                    padding: 5px 10px;
                    display: inline-block;
                }

                margin-bottom: 20px;
            }

            .mobile-modal-menu-footer-sns {
                span {
                    display: inline-block;
                    margin: 0 4px;

                    a {
                        display: block;
                        width: 27px;
                        height: 27px;
                        border-radius: 50%;
                        background: #aaa;
                        text-align: center;
                        transition: 1s;

                        &:hover {
                            background: #fff;
                        }

                        i {
                            display: block;
                            font-size: 15px;
                            color: #000;
                            line-height: 27px;
                        }
                    }
                }
            }
        }
    }


}

#header {
    position: fixed;
    height: 113px;
    top: 0;
    left: 0;
    width: 100%;
    background: $color-white;
    z-index: 3;
    box-sizing: border-box;
    padding: 0 60px;

    .h-box {
        width: 100%;
        margin: 42px auto;

        .header-mobile-menu-bar {
            display: none;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            height: 67px;
            text-align: center;

            h1 {
                padding: 21px 0;
                display: inline-block;

                img {
                    width: 100%
                }
            }

            .header-appBar-wrap {
                display: block;
                position: absolute;
                width: 22px;
                height: 14px;
                top: 26px;
                left: 20px;

                .appbarBt {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: block;

                    .appbar-line {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #000;
                        top: 0;
                        left: 0;

                        &.appbar-line1 {
                            top: 0
                        }

                        &.appbar-line2 {
                            top: 50%;
                        }

                        &.appbar-line3 {
                            top: 100%
                        }
                    }
                }
            }

            .header-search-wrap {
                display: block;
                position: absolute;
                width: 22px;
                right: 20px;
                top: 20px;

                a {
                    font-size: 20px;

                    .fa-search {
                        color: #000
                    }
                }
            }
        }

        .header-logoNav {
            width: 100%;
            display: flex;
            align-items: center;
            flex-grow: 1;

            h1 {
                flex-grow: 1;

                a {
                    color: $bg-color
                }
            }

            nav {
                display: flex;
                flex-grow: 2;

                span {
                    
                    display: block;

                    &:nth-child(1) {
                        flex-grow: .3;
                    }

                    &:nth-child(2) {
                        flex-grow: 1.5;
                    }

                    &:nth-child(3) {
                        flex-grow: .5;
                    }

                    &:nth-child(4) {
                        flex-grow: .5;
                    }

                    &:nth-child(5) {
                        flex-grow: .5;
                    }

                    // &:nth-child(6){flex-grow: .5;}
                    a {
                        font-size: 20px;
                        border-bottom: 1px solid rgba(255, 255, 255, 1);
                        transition: 1s;
                        position: relative;
                        &::after{
                            content: '';
                            display: block;
                            width: 100%;
                            height: 1px;
                            position: absolute;
                            left: 0;
                            bottom: -3px;
                            background: #000;
                            -webkit-transform-origin: 100% 50%;
                            -ms-transform-origin: 100% 50%;
                            transform-origin: 100% 50%;
                            -webkit-transform: scale3d(0, 1, 1);
                            transform: scale3d(0, 1, 1);
                            -webkit-transition: -webkit-transform .3s;
                            transition: -webkit-transform .3s;
                            transition: transform .3s;
                            transition: transform .3s, -webkit-transform .3s;
                        }
                        i {
                            display: block;
                            font-size: 24px;
                        }
                    }
                    &:hover > a::after{
                        -ms-transform-origin: 0% 50%;
                        transform-origin: 0% 50%;
                        -webkit-transform: scale3d(1, 1, 1);
                        transform: scale3d(1, 1, 1);
                    }
                    &:last-child {
                        padding-right: 5px;
                    }
                }
            }
        }
    }
}


#main {
    padding: 113px 60px 0;
    display: block;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main {
    .main-visual__typo {
        max-width: 650px;
        margin-top: 31px;

        .casaTypo {
            font-size: 22px;
            line-height: 1.54;
            font-weight: 400;
            letter-spacing: 0;

            a {
                display: inline-block;
                max-width: 100%;
                border-bottom: 1px solid transparent;
                -webkit-transition: border 1s;
                transition: border 1s;

                &:hover {
                    border-bottom: 1px solid $bg-color;
                }

            }
        }
    }

    .main-cases {
        margin-top: 172px;
        opacity: 1;
        pointer-events: all;

        .main-cases__title {
            margin-bottom: 28px;

            h2.motion-anchor {
                font-size: 0;

                // display: inline-block;
                .heading--01 {
                    font-size: 90px;
                    line-height: 1.2;
                    font-weight: 400;
                    letter-spacing: 0;
                }

                .text--04 {
                    margin-top: 18px;
                    margin-left: 11px;
                    vertical-align: top;
                    font-style: normal;
                    font-size: 20px;
                    line-height: 1.6;
                    font-weight: 400;
                    letter-spacing: 0;
                    display: inline-block;
                }
            }

            .motion-anchor__blank {
                display: inline-block;
                width: 29px;
                height: 3px;
                position: relative;
                -webkit-animation: blink_caret 1.2s step-end infinite;
                animation: blink_caret 1.2s step-end infinite;
            }

            @keyframes blink_caret {

                0%,
                100% {
                    background: transparent;
                }

                50% {
                    background: #000;
                }
            }
        }
    }
}

.main-cases__content {
    .main-cases__list {
        position: relative;
        z-index: 1;
        .main-cases__group--01 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            position: relative;
            border-top: 1px solid #000;

            &:after {
                left: 59%;
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                background: #000;
            }

            >.main-cases__first {
                padding: 100px 100px 100px 0;
                width: 63%;
                box-sizing: border-box;

                .main-cases__item {
                    float: right;
                    width: 100%;

                    a {
                        display: block;

                        .main-cases__thumb{
                            img{}
                        }
                        h3.jt-heading--03{
                            span{}
                        }
                        &:hover .jt-heading--03>span {
                            border-bottom: 1px solid transparent;
                            border-bottom-color: #000;
                            transition: .5s;
                        }
                    }
                }
            }
            .main-cases__last {
                padding: 100px 0 100px 100px;
                width: 37%;
                .main-cases__secondary {
                    position: relative;

                    >a {
                        >.main-cases__thumb {
                            img {
                                display: block;
                                width: 100%;
                                height: auto;
                                position: absolute;
                                top: 0;
                                left: 0;
                                opacity: 1;
                                visibility: visible;
                                transition: 1s;
                                -webkit-transition: 1s;
                            }
                        }
                        &:hover img {
                            opacity: 0;
                            visibility: hidden;
                        }

                        &:hover .jt-heading--03>span {
                            border-bottom: 1px solid transparent;
                            border-bottom-color: #000;
                            transition: .5s;
                        }

                        .main-cases__thumb--hover {
                            img {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
   
        }    
        .main-cases__group--02 {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -ms-flex-align: start;
            align-items: flex-start;
            position: relative;
            border-top: 1px solid #000;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;

            >.main-cases__first {
                width: 37%;
                position: relative;
                

                .main-cases__typo {
                    font-size: 16px;
                    line-height: 1.75;
                    font-weight: 400;
                    letter-spacing: 0;
                    padding: 100px 0;
                }
            }

            &::after {
                left: 37%;
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                background: #000;
            }

            >.main-cases__last {
                width: 63%;
                padding: 100px 0 100px 100px;
                box-sizing: border-box;

                .main-cases__item {
                    max-width: 900px;
                    position: relative;

                    a {
                        .main-cases__thumb {
                            .main-cases__thumb--base {
                                >img {
                                    display: block;
                                    width: 100%;
                                    height: auto;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 1;
                                    visibility: visible;
                                    transition: 1s;
                                    -webkit-transition: 1s;
                                }
                                &:hover img {
                                    opacity: 0;
                                    visibility: hidden;
                                }
                            }
                            .main-cases__thumb--hover {
                                img {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }
                    &:hover .jt-heading--03>span {
                            border-bottom: 1px solid transparent;
                            border-bottom-color: #000;
                            transition: .5s;
                        }

                        .main-cases__thumb--hover {
                            img {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}

#mobile-main {display: none;}

// section

#stories{width: 100%; background: #E7E4DD}
#stories .container{padding: 100px 0;}
#stories .storiesBody{position: relative; width: 100%; height: 650px;}
#stories .storiesBody .contents{
    width: 22%;
    height: auto;
    float: left;
    background: #fff;
    position: absolute;
    transition: transform 1s;
    box-shadow: 0 0 5px #d0d0d0;
}
#stories .storiesBody .contents:hover{
    background: #9FA38C;
    color: #fff;
}
/* 첫번째 이미지 가운데 위치 */
#stories .storiesBody .col1{left: 50%; top: 150px; transform: scale(1); z-index: 1; margin-left: -11%;}
#stories .storiesBody .col2{left: 10%; top: 50px; transform: scale(0.9); opacity: .5;}
#stories .storiesBody .col3{left: 50%; transform: scale(0.8); margin-left: -11%; opacity: .2;}
#stories .storiesBody .col4{left: 68%; top: 50px; transform: scale(0.9); opacity: .5;}
#stories .storiesBody .contents .conImg{position: relative; width: 100%;}
#stories .storiesBody .contents .conImg img{width: 100%;}
#stories .storiesBody .contents .conT{padding: 10px 15px; position: relative;}
#stories .storiesBody .contents .conT dl dt a{color: #000; font-size: 12px; font-weight: bold; display: inline-block; padding: 10px 0 0;}
#stories .storiesBody .contents .conT dl dd{margin-top: 5px; font-size: 15px;}
/* 16px에 80%만 가지게 */
#stories .storiesBody .contents .conT p{text-align: right; margin-top: 10px; font-style: italic; font-size: 80%;}
#stories .storiesBody .contentsBtn>a{color: #333; font-weight: bold; text-transform: uppercase; position: absolute;}
#stories .storiesBody .contentsBtn .next{top: 40%; right: 20px; transform: rotate(90deg);}
#stories .storiesBody .contentsBtn .prev{top: 40%; left: 20px; transform: rotate(-90deg);}


// main-cases__group--03
.main-container{
        padding: 0 60px;
    .main-cases__group--03{
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        position: relative;
        >.main-cases__first{
            width: 50%;
            padding: 175px;
            >.main-cases__item{
                width: 100%;
                max-width: 550px;
                >a{}
                &:hover .jt-heading--03>span {
                    border-bottom: 1px solid transparent;
                    border-bottom-color: #000;
                }
            }
        }
        .main-cases__last{
            width: 50%;
            padding: 175px;
            >.main-cases__item{
                width: 100%;
                max-width: 550px;
                >a{}
                &:hover .jt-heading--03>span {
                    border-bottom: 1px solid transparent;
                    border-bottom-color: #000;
                }
            }
        }
        &::after{
            left: 50%;
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            background: #000;
            // border: 1px solid #000;
        }
    }
    .main-cases__group--04{
        display: flex;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        -ms-flex-align: end;
        align-items: flex-end;
        position: relative;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        .main-cases__first{
            width: 37%;
            a.main-cases__more{
                display: block;
                width: 100%;
                padding: 85px 240px 85px 43px;
                position: relative;
                -webkit-transition: background .3s;
                transition: background .3s;
                border-top: 1px solid #000;
                box-sizing: border-box;
                cursor: pointer;
                &::before{
                    content: '';
                    width: 198px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: #f4f4f4;
                    opacity: 0;
                    -webkit-transition: opacity .3s;
                    transition: opacity .3s;
                }
                &:hover:before{opacity: 1;}
                .jt-text--05{
                    font-size: 18px;
                    line-height: 1.66;
                    font-weight: 400;
                    letter-spacing: 0;
                }
                i.jt-guide--icon{
                    width: 68px;
                    height: 42px;
                    margin-top: -21px;
                    position: absolute;
                    right: 70px;
                    top: 50%;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    right: 198px;
                    background: #000;
                }
             
            }
            
        }
        .main-cases__last{
            box-sizing: border-box;
            z-index: 1;
            padding: 114px 0 114px 114px;
            width: 63%;
            .main-cases__item{
                a{}
                &:hover .jt-heading--03>span {
                    border-bottom: 1px solid transparent;
                    border-bottom-color: #000;
                }
            }
        }
        &::after{
            left: 37%;
            content: '';
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            background: #000;
        }   
    }
}


.mobile-swiper{display: none;}


// footer
#footer{
    width: 100%;
    padding: 0 60px;
    box-sizing: border-box;
    position: relative;
    .footer__inner{
        position: relative;
        a.go-top{
            // width: 44px;
            padding: 0 8px;
            position: absolute;
            right: 22px;
            top: 60px;
            z-index: 1;
            span{}
            i.jt-guide--icon{
                display: block;
                // >svg{
                //     display: block;
                //     width: 100%;
                //     height: auto;
                // }
            }
        }
        .footer__top{
            padding: 312px 0 311px;
            position: relative;
            border-bottom: 1px solid #000;
            border-width: 1px 0;
            height: 400px;
            box-sizing: border-box;

            .footer__typo{

                p{
                    font-size: 48px;
                    font-weight: 400;
                    line-height: 1.33;
                }
                span.footer__typo-blank{
                    display: inline-block;
                    width: 29px;
                    height: 3px;
                    position: relative;
                    left: -10px;
                    bottom: -3px;
                    -webkit-animation: blink_caret 1.2s step-end infinite;
                    animation: blink_caret 1.2s step-end infinite;
                    @keyframes blink_caret {
                        0%,
                        100% {
                            background: transparent;
                        }
                        50% {
                            background: #000;
                        }
                    }
                }
            }
            .footer__sns-wrap{
                position: absolute;
                right: 0;
                bottom: 21px;
                z-index: 1;
                ul.footer__sns{
                    text-align: right;
                    li{
                        display: inline-block;
                        vertical-align: middle;
                        a{
                            display: block;
                            padding: 8px 20px;
                            font-size: 15px;
                            font-weight: 700;
                            line-height: 1.86;
                            >span{
                                position: relative;
                                &::after{
                                    content: '';
                                    display: block;
                                    width: 100%;
                                    height: 1px;
                                    position: absolute;
                                    left: 0;
                                    bottom: -3px;
                                    background: #000;
                                    -webkit-transform-origin: 100% 50%;
                                    -ms-transform-origin: 100% 50%;
                                    transform-origin: 100% 50%;
                                    -webkit-transform: scale3d(0, 1, 1);
                                    transform: scale3d(0, 1, 1);
                                    -webkit-transition: -webkit-transform .3s;
                                    transition: -webkit-transform .3s;
                                    transition: transform .3s;
                                    transition: transform .3s, -webkit-transform .3s;
                                }
                            }          
                            &:hover > span::after{
                                -ms-transform-origin: 0% 50%;
                                transform-origin: 0% 50%;
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                            }
                        }
                        &:first-child a{padding-left: 0;}
                        &:last-child a{padding-right: 0;}
                    }
                    
                }
            }
        }
        .footer__bottom{
            padding: 29px 0 130px;
            position: relative;
            .footer__info{
                p.footer__info-btn{
                    display: inline-block;
                    padding-right: 20px;
                    position: relative;
                    cursor: pointer;
                    span.copyright{
                        font-size: 20px;
                        font-weight: 400;
                        line-height: 1.6;
                    }
                    i.jt-guide--icon{
                        width: 10px;
                        height: 8px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -3px;
                        svg{
                            display: block;
                            width: 100%;
                            height: auto
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1200px) {
    #main{
        .main-cases{
            margin-top: 100px;
            .main-cases__title{
                h2.motion-anchor{
                    .heading--01{font-size: 60px;}
                    .text--04{
                        margin-top: 9px;
                        margin-left: 9px;
                    }
                    .motion-anchor__blank{
                        width: 24px;
                        height: 2px;
                    }
                }
            }
        }
        .main-cases__content {
            .main-cases__list {
                .main-cases__group--01 {
                    >.main-cases__first {
                        padding: 60px 60px 60px 0;
                        width: 63%;
                        box-sizing: border-box;
                    }
                    .main-cases__last {
                        padding: 60px 0 60px 60px;
                        width: 37%;
                    }
                }
                .main-cases__group--02{
                    .main-cases__first{
                        .main-cases__typo{
                            font-size: 12px;
                            padding: 60px 60px 60px 0;
                        }
                    }
                    .main-cases__last{
                        padding: 60px 0 60px 60px;
                    }
                }
            }
        }
    }
    #content{
        #stories{
            >.container{
                padding: 0;
                .storiesBody{
                    height: 700px;
                    position: relative;
                    top: 80px;
                }
            }
        }
        .main-container{
            // main-cases__group--03
            .main-cases__group--03{
                >.main-cases__first{
                    padding: 80px;
                    >.main-cases__item{
                        width: 100%;
                        max-width: 550px;
                    }
                }
                .main-cases__last{
                    padding: 80px;
                }
            }    
        }    
    }
}

@media screen and (max-width: 992px) {
    #header div .header-logoNav nav>span>a {
        font-size: 16px;
    }
    #main{
        .main-cases {
            margin-top: 110px;
            .main-cases__title {
                margin-bottom: 18px;

                h2.motion-anchor {
                    font-size: 0;
                    .heading--01 {
                        font-size: 55px;
                        line-height: 1.2;
                        font-weight: 400;
                        letter-spacing: 0;
                    }

                    .text--04 {
                        margin-top: 9px;
                        margin-left: 9px;
                        vertical-align: top;
                        font-style: normal;
                        font-size: 14px;
                        line-height: 1.6;
                        font-weight: 400;
                        letter-spacing: 0;
                        display: inline-block;
                    }

                    .motion-anchor__blank {
                        display: inline-block;
                        width: 24px;
                        height: 2px;
                        bottom: 0;
                        position: relative;
                        -webkit-animation: blink_caret 1.2s step-end infinite;
                        animation: blink_caret 1.2s step-end infinite;
                    }

                    @keyframes blink_caret {
                        0%,
                        100% {
                            background: transparent;
                        }
                        50% {
                            background: #000;
                        }
                    }
                }
            }
        }
        .main-cases__content {
            .main-cases__list {
                .main-cases__group--01 {
                    >.main-cases__first {
                        padding: 52px 52px 52px 0;
                        width: 63%;
                    }
                    .main-cases__last {
                        padding: 52px 0 52px 52px;
                        width: 37%;
                    }
                }
            }
        }
    }
    #content{
        #stories{
            >.container{
                padding: 0;
                .storiesBody{
                    height: 550px;
                    position: relative;
                    top: 60px;
                    .contents{
                        .conT{
                            dl{
                                dt{
                                    a{font-size: 16px;}
                                    
                                }
                                dd{font-size: 0;}
                            }
                        }
                        &:hover dl>dt>a{color: #fff;}
                    }
                }
            }
        }
        .main-container{
            // main-cases__group--03
            .main-cases__group--03{
                >.main-cases__first{
                    padding: 50px;
                    >.main-cases__item{
                        a{
                            h3.jt-heading--03{font-size: 18px;}
                        }
                    }
                }
                .main-cases__last{
                    padding: 50px;
                    >.main-cases__item{
                        a{
                            h3.jt-heading--03{font-size: 18px;}
                        }
                    }
                }
            }    
        }
        .main-cases__group--04{
            display: flex;
            -webkit-box-align: end;
            -webkit-align-items: flex-end;
            -ms-flex-align: end;
            align-items: flex-end;
            position: relative;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            .main-cases__first{
                width: 37%;
                a.main-cases__more{
                    display: block;
                    width: 100%;
                    padding: 65px 190px 65px 13px;
                    position: relative;
                    -webkit-transition: background .3s;
                    transition: background .3s;
                    border-top: 1px solid #000;
                    box-sizing: border-box;
                    cursor: pointer;
                    &::before{
                        content: '';
                        width: 198px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: #f4f4f4;
                        opacity: 0;
                        -webkit-transition: opacity .3s;
                        transition: opacity .3s;
                    }
                    &:hover:before{opacity: 1;}
                    .jt-text--05{
                        font-size: 14px;
                        line-height: 1.66;
                        font-weight: 400;
                        letter-spacing: 0;
                    }
                    i.jt-guide--icon{
                        width: 68px;
                        height: 42px;
                        margin-top: -21px;
                        position: absolute;
                        right: 50px;
                        top: 50%;
                    }
                    &::after{
                        content: '';
                        display: block;
                        width: 1px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 170px;
                        background: #000;
                    }
                 
                }
                
            }
            .main-cases__last{
                box-sizing: border-box;
                z-index: 1;
                padding: 114px 0 114px 114px;
                width: 63%;
                .main-cases__item{
                    a{}
                    &:hover .jt-heading--03>span {
                        border-bottom: 1px solid transparent;
                        border-bottom-color: #000;
                    }
                }
            }
            &::after{
                left: 37%;
                content: '';
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                background: #000;
            }   
        } 
    }
}

@media screen and (max-width: 776px){
    #content{
        .main-cases__group--04{
            .main-cases__first{
                a.main-cases__more{
                    padding: 65px 153px 65px 13px;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: #f4f4f4;
                        opacity: 0;
                        -webkit-transition: opacity .3s;
                        transition: opacity .3s;
                    }
                    &:hover:before{opacity: 1;}
                    .jt-text--05{
                        display: none;
                    }
                    i.jt-guide--icon{
                        // right: 70px;
                    }
                    &::after{display: none;}
                }
                
            }    
        }    
    }
    #footer{
        padding: 0 60px;
        .footer__inner{
            a.go-top{
                right: 0;
                padding: 0;
                i.jt-guide--icon{}
            }
            .footer__top{
                border-top: none;
                position: relative;
                padding: 150px 0 0;          
                height: 350px;      
                .footer__typo{
                    p.type{font-size: 25px;}
                }
                .footer__sns-wrap{
                    bottom: 20px;
                    ul.footer__sns{
                        
                        li{
                            a{
                                >span{}
                            }
                        }
                    }
                }
            }
            .footer__bottom{
                padding: 30px 0 50px;
                .footer__info{
                    p.footer__info-btn{
                        >span.copyright{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    #wrap{overflow-x: hidden;}
    .mobile-modal-menu {
        display: block;
        z-index: 100;
    }
    #header {
        padding: 0 25px;
        height: 80px;

        div {
            margin: 7px auto;

            .header-mobile-menu-bar {
                left: 0;
                display: block;

                .header-appBar-wrap {
                    left: 0;

                    .header-search-wrap {
                        display: block;
                        position: absolute;
                        width: 22px;
                        right: 0;
                        top: 20px;

                        a {
                            font-size: 20px;

                            .fa-search {
                                color: #000
                            }
                        }
                    }
                }
            }

            aside {
                display: none;
            }

            .header-logoNav {
                display: none;
            }
        }
    }
    #main {display: none;}
    #mobile-main {
        display: block;
        padding: 70px 25px;

        .m-main-visual__typo {
            max-width: calc(100% - 60px);
            margin-top: 15px;
            .casaTypo {
                font-size: 22px;
                line-height: 1.36;
                a {
                    span {
                        display: block;
                        white-space: pre;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
        .m-main-cases {
            margin-top: 70px;
            .m-main-cases__title {
                margin-bottom: 18px;

                h2.m-motion-anchor {
                    font-size: 0;

                    // display: inline-block;
                    .m-heading--01 {
                        font-size: 47px;
                        line-height: 1.2;
                        font-weight: 400;
                        letter-spacing: 0;
                    }

                    .m-text--04 {
                        margin-top: 0;
                        margin-left: 9px;
                        vertical-align: top;
                        font-style: normal;
                        font-size: 18px;
                        line-height: 1.6;
                        font-weight: 400;
                        letter-spacing: 0;
                        display: inline-block;
                    }

                    .m-motion-anchor__blank {
                        display: inline-block;
                        width: 24px;
                        height: 3px;
                        bottom: 0;
                        position: relative;
                        -webkit-animation: blink_caret 1.2s step-end infinite;
                        animation: blink_caret 1.2s step-end infinite;
                    }

                    @keyframes blink_caret {

                        0%,
                        100% {
                            background: transparent;
                        }

                        50% {
                            background: #000;
                        }
                    }
                }
            }
        }
        .m-main-cases__content {
            .m-main-cases__list {
                .m-main-cases__group--01 {
                    display: flex;
                    -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                    flex-wrap: wrap;
                    border-top: none;

                    .m-main-cases__first {
                        .m-main-cases__item {
                            a {
                                .m-jt-heading--03 {
                                    margin-top: 15px;
                                    span {
                                        font-size: 22px;
                                    }
                                }
                            }
                        }
                    }
                    .m-main-cases__last {
                        margin-top: 56px;

                        .m-main-cases__secondary {
                            a {
                                >.m-main-cases__thumb {
                                    position: relative;
                                    >img {
                                        display: block;
                                        width: 100%;
                                        height: auto;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        opacity: 1;
                                        visibility: visible;
                                        transition: 1s;
                                        -webkit-transition: 1s;
                                    }
                                    &:hover img {
                                        opacity: 0;
                                        visibility: hidden;
                                    }
                                }
                                >.m-main-cases__thumb--hover {
                                    >img {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                                .m-jt-heading--03 {
                                    margin-top: 15px;
                                    span {
                                        font-size: 22px;
                                    }
                                }
                            }
                            &:hover .m-jt-heading--03>span {
                                border-bottom: 1px solid transparent;
                                border-bottom-color: #000;
                                transition: .5s;
                            }
                        }
                    }
                }
                .m-main-cases__group--02 {
                    margin-top: 56px;
                    .m-main-cases__last {
                        .m-main-cases__item {
                            a {
                                .m-main-cases__thumb {
                                    position: relative;
                                    .m-main-cases__thumb--base {
                                        img {
                                            display: block;
                                            width: 100%;
                                            height: auto;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            opacity: 1;
                                            visibility: visible;
                                            transition: 1s;
                                            -webkit-transition: 1s;
                                        }
                                        &:hover img {
                                            opacity: 0;
                                            visibility: hidden;
                                        }
                                    }

                                    .m-main-cases__thumb--hover {
                                        >img {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                        
                                    }

                                    .m-jt-heading--03 {
                                        margin-top: 15px;
                                        span {
                                            font-size: 22px;
                                        }
                                    }
                                }
                                &:hover .m-jt-heading--03>span {
                                    border-bottom: 1px solid transparent;
                                    border-bottom-color: #000;
                                    transition: .5s;
                                }
                            }
                        }
                    }
                }
            }
        }
        .mobile-swiper{
            width: 100%;
            display: block;
            margin-top: 100px;
            margin-bottom: 50px;
            .m-swiper{
                width: 40%;
                .swiper-wrapper{
                    .img-bg{width: 100%;}
                }
            }
        }
    }




    #content{
        // main-cases__group--03
        .main-container{
            display: block;
            padding: 0 25px;
            .main-cases__group--03{
                
                display: flex;
                flex-direction: column;
                >.main-cases__first{
                    padding: 0;
                    width: 100%;
                    >.main-cases__item{
                        width: 100%;
                        >a{
                            .jt-heading--03{
                                margin-top: 15px;
                                span{
                                font-size: 22px;
                                }
                            }
                        }
                        &:hover .jt-heading--03>span {
                            border-bottom: 1px solid transparent;
                            border-bottom-color: #000;
                        }
                    }
                }
                >.main-cases__last{
                    padding: 0;
                    padding-top: 70px;
                    width: 100%;
                    >.main-cases__item{
                        width: 100%;
                        >a{
                            .jt-heading--03{
                                margin-top: 15px;
                                span{
                                font-size: 22px;
                                }
                            }
                        }
                        &:hover .jt-heading--03>span {
                            border-bottom: 1px solid transparent;
                            border-bottom-color: #000;
                        }
                    }
                }
                &::after{
                    display: none;
                }
            }
            .main-cases__group--04{
                border-top: none;
                display: flex;
                flex-direction: column-reverse;
                .main-cases__last{
                    padding: 0;
                    padding-top: 70px;
                    width: 100%;
                    .main-cases__item{
                        a{
                            h3.jt-heading--03{
                                margin-top: 15px;
                            }
                        }
                        &:hover .jt-heading--03>span {
                            border-bottom: 1px solid transparent;
                            border-bottom-color: #000;
                        }
                    }
                }
                &::after{
                    display: none;
                }   
                .main-cases__first{
                    padding-top: 70px;
                    width: 100%;
                    a.main-cases__more{
                        display: block;
                        width: 100%;
                        padding: 38px 250px 38px 24px;
                        position: relative;
                        -webkit-transition: background .3s;
                        transition: background .3s;
                        border-top: 1px solid #000;
                        box-sizing: border-box;
                        cursor: pointer;
                        &::before{
                            content: '';
                            width: 198px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: #f4f4f4;
                            opacity: 0;
                            -webkit-transition: opacity .3s;
                            transition: opacity .3s;
                        }
                        &:hover:before{opacity: 1;}
                    
                        .jt-text--05{
                           width: 100%;
                           text-align: center;
                           display: block;
                        }
                        i.jt-guide--icon{
                        //    left: 50%;
                        //    right: auto;
                        //    margin-left: 50px;
                        }
                        &::after{
                            content: '';
                            display: block;
                            width: 1px;
                            height: 100%;
                            position: absolute;
                            top: 0;
                            right: 198px;
                            background: #000;
                        }
                     
                    }
                    
                }
                
            }
        }
    }
    #footer{
        padding: 0 25px;
        .footer__inner{
            a.go-top{
                right: 0;
                padding: 0;
                i.jt-guide--icon{}
            }
            .footer__top{
                height: 350px;
                .footer__typo{
                    p.type{font-size: 25px;}
                }
                .footer__sns-wrap{
                    bottom: 20px;
                    ul.footer__sns{
                        
                        li{
                            a{
                                >span{}
                            }
                        }
                    }
                }
            }
            .footer__bottom{
                padding: 30px 0 50px;
                .footer__info{
                    p.footer__info-btn{
                        >span.copyright{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    #content>#stories{display: none;}
}