@charset "UTF-8";
.jt-heading--03 {
  margin-top: 31px;
  font-size: 22px;
  line-height: 1.54;
  font-weight: 400;
  letter-spacing: 0;
}

html {
  height: 100%;
}

body {
  color: #fff;
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  color: #000;
}

#wrap {
  height: 100%;
}

.mobile-modal-menu {
  display: none;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  z-index: 4;
}
.mobile-modal-menu > div {
  padding: 0 35px;
  box-sizing: border-box;
  background: #fff;
}
.mobile-modal-menu > div .mobile-modal-menu-bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap {
  margin-top: 40px;
  width: 50px;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt .appbar-line {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  margin-top: -1px;
  background: #222;
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt .appbar-line.appbar-line1 {
  transform: rotate(45deg);
}
.mobile-modal-menu > div .mobile-modal-menu-bar .modal-appBar-wrap .appbarCloseBt .appbar-line.appbar-line2 {
  transform: rotate(-45deg);
}
.mobile-modal-menu > div .mobile-modal-menu-list {
  width: 100%;
  height: 100vh;
  background: #fff;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul {
  width: 100%;
  margin-top: 30px;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li {
  font-family: sans-serif;
  font-size: 24px;
  padding: 10px 0;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li:nth-child(3) > a {
  color: rgb(169, 108, 22);
}
.mobile-modal-menu > div .mobile-modal-menu-list ul li:nth-child(3) > a {
  margin-bottom: 50px;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul a {
  display: inline-block;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 1s;
}
.mobile-modal-menu > div .mobile-modal-menu-list ul a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}
.mobile-modal-menu > div .mobile-modal-menu-footer {
  padding-top: 20px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer p {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 20px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-button {
  margin-bottom: 20px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-button button {
  background: #000;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  padding: 5px 10px;
  display: inline-block;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span {
  display: inline-block;
  margin: 0 4px;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span a {
  display: block;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: #aaa;
  text-align: center;
  transition: 1s;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span a:hover {
  background: #fff;
}
.mobile-modal-menu > div .mobile-modal-menu-footer .mobile-modal-menu-footer-sns span a i {
  display: block;
  font-size: 15px;
  color: #000;
  line-height: 27px;
}

#header {
  position: fixed;
  height: 113px;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 3;
  box-sizing: border-box;
  padding: 0 60px;
}
#header div {
  width: 100%;
  margin: 42px auto;
}
#header div .header-mobile-menu-bar {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 67px;
  text-align: center;
}
#header div .header-mobile-menu-bar h1 {
  padding: 21px 0;
  display: inline-block;
}
#header div .header-mobile-menu-bar h1 img {
  width: 100%;
}
#header div .header-mobile-menu-bar .header-appBar-wrap {
  display: block;
  position: absolute;
  width: 22px;
  height: 14px;
  top: 26px;
  left: 20px;
}
#header div .header-mobile-menu-bar .header-appBar-wrap .appbarBt {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
#header div .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #000;
  top: 0;
  left: 0;
}
#header div .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line.appbar-line1 {
  top: 0;
}
#header div .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line.appbar-line2 {
  top: 50%;
}
#header div .header-mobile-menu-bar .header-appBar-wrap .appbarBt .appbar-line.appbar-line3 {
  top: 100%;
}
#header div .header-mobile-menu-bar .header-search-wrap {
  display: block;
  position: absolute;
  width: 22px;
  right: 20px;
  top: 20px;
}
#header div .header-mobile-menu-bar .header-search-wrap a {
  font-size: 20px;
}
#header div .header-mobile-menu-bar .header-search-wrap a .fa-search {
  color: #000;
}
#header div .header-logoNav {
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
#header div .header-logoNav h1 {
  flex-grow: 1;
}
#header div .header-logoNav h1 a {
  color: #222;
}
#header div .header-logoNav nav {
  display: flex;
  flex-grow: 2;
}
#header div .header-logoNav nav span {
  display: block;
}
#header div .header-logoNav nav span:nth-child(1) {
  flex-grow: 0.3;
}
#header div .header-logoNav nav span:nth-child(2) {
  flex-grow: 1.5;
}
#header div .header-logoNav nav span:nth-child(3) {
  flex-grow: 0.5;
}
#header div .header-logoNav nav span:nth-child(4) {
  flex-grow: 0.5;
}
#header div .header-logoNav nav span:nth-child(5) {
  flex-grow: 0.5;
}
#header div .header-logoNav nav span a {
  font-size: 20px;
  border-bottom: 1px solid rgb(255, 255, 255);
  transition: 1s;
}
#header div .header-logoNav nav span a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}
#header div .header-logoNav nav span a i {
  display: block;
  font-size: 24px;
}
#header div .header-logoNav nav span:last-child {
  padding-right: 5px;
}

#main {
  padding: 113px 60px 0;
  display: block;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main .main-visual__typo {
  max-width: 650px;
  margin-top: 31px;
}
#main .main-visual__typo .casaTypo {
  font-size: 22px;
  line-height: 1.54;
  font-weight: 400;
  letter-spacing: 0;
}
#main .main-visual__typo .casaTypo a {
  display: inline-block;
  max-width: 100%;
  border-bottom: 1px solid transparent;
  transition: border 1s;
}
#main .main-visual__typo .casaTypo a:hover {
  border-bottom: 1px solid #222;
}
#main .main-cases {
  margin-top: 172px;
  opacity: 1;
  pointer-events: all;
}
#main .main-cases .main-cases__title {
  margin-bottom: 28px;
}
#main .main-cases .main-cases__title h2.motion-anchor {
  font-size: 0;
}
#main .main-cases .main-cases__title h2.motion-anchor .heading--01 {
  font-size: 90px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0;
}
#main .main-cases .main-cases__title h2.motion-anchor .text--04 {
  margin-top: 18px;
  margin-left: 11px;
  vertical-align: top;
  font-style: normal;
  font-size: 20px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0;
  display: inline-block;
}
#main .main-cases .main-cases__title .motion-anchor__blank {
  display: inline-block;
  width: 29px;
  height: 3px;
  position: relative;
  animation: blink_caret 1.2s step-end infinite;
}
@keyframes blink_caret {
  0%, 100% {
    background: transparent;
  }
  50% {
    background: #000;
  }
}

.main-cases__content .main-cases__list {
  position: relative;
  z-index: 1;
}
.main-cases__content .main-cases__list .main-cases__group--01 {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-top: 1px solid #000;
}
.main-cases__content .main-cases__list .main-cases__group--01:after {
  left: 59%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first {
  padding: 100px 100px 100px 0;
  width: 63%;
  box-sizing: border-box;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first .main-cases__item {
  float: right;
  width: 100%;
}
.main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first .main-cases__item a {
  display: block;
}
.main-cases__content .main-cases__list .main-cases__last {
  padding: 100px 0 100px 100px;
  width: 37%;
}
.main-cases__content .main-cases__list .main-cases__last .main-cases__secondary {
  position: relative;
}
.main-cases__content .main-cases__list .main-cases__last .main-cases__secondary > a > .main-cases__thumb img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
}
.main-cases__content .main-cases__list .main-cases__last .main-cases__secondary > a:hover img {
  opacity: 0;
  visibility: hidden;
}
.main-cases__content .main-cases__list .main-cases__last .main-cases__secondary > a:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
  transition: 0.5s;
}
.main-cases__content .main-cases__list .main-cases__last .main-cases__secondary > a .main-cases__thumb--hover img {
  opacity: 1;
  visibility: visible;
}
.main-cases__content .main-cases__group--02 {
  display: flex;
  align-items: flex-start;
  position: relative;
  border-top: 1px solid #000;
  align-items: flex-end;
}
.main-cases__content .main-cases__group--02 > .main-cases__first {
  width: 37%;
  position: relative;
}
.main-cases__content .main-cases__group--02 > .main-cases__first .main-cases__typo {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: 0;
  padding: 100px 0;
}
.main-cases__content .main-cases__group--02::after {
  left: 37%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}
.main-cases__content .main-cases__group--02 > .main-cases__last {
  width: 63%;
  padding: 100px 0 100px 100px;
  box-sizing: border-box;
}
.main-cases__content .main-cases__group--02 > .main-cases__last .main-cases__item {
  max-width: 900px;
  position: relative;
}
.main-cases__content .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb .main-cases__thumb--base > img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  visibility: visible;
  transition: 1s;
  -webkit-transition: 1s;
}
.main-cases__content .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb .main-cases__thumb--base:hover img {
  opacity: 0;
  visibility: hidden;
}
.main-cases__content .main-cases__group--02 > .main-cases__last .main-cases__item a .main-cases__thumb .main-cases__thumb--hover img {
  opacity: 1;
  visibility: visible;
}
.main-cases__content .main-cases__group--02 > .main-cases__last .main-cases__item a:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
  transition: 0.5s;
}

#mobile-main {
  display: none;
}

#stories {
  width: 100%;
  background: #E7E4DD;
}

#stories .container {
  padding: 100px 0;
}

#stories .storiesBody {
  position: relative;
  width: 100%;
  height: 650px;
}

#stories .storiesBody .contents {
  width: 22%;
  height: auto;
  float: left;
  background: #fff;
  position: absolute;
  transition: transform 1s;
  box-shadow: 0 0 5px #d0d0d0;
}

#stories .storiesBody .contents:hover {
  background: #9FA38C;
  color: #fff;
}

/* 첫번째 이미지 가운데 위치 */
#stories .storiesBody .col1 {
  left: 50%;
  top: 150px;
  transform: scale(1);
  z-index: 1;
  margin-left: -11%;
}

#stories .storiesBody .col2 {
  left: 10%;
  top: 50px;
  transform: scale(0.9);
  opacity: 0.5;
}

#stories .storiesBody .col3 {
  left: 50%;
  transform: scale(0.8);
  margin-left: -11%;
  opacity: 0.2;
}

#stories .storiesBody .col4 {
  left: 68%;
  top: 50px;
  transform: scale(0.9);
  opacity: 0.5;
}

#stories .storiesBody .contents .conImg {
  position: relative;
  width: 100%;
}

#stories .storiesBody .contents .conImg img {
  width: 100%;
}

#stories .storiesBody .contents .conT {
  padding: 10px 15px;
  position: relative;
}

#stories .storiesBody .contents .conT dl dt a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 0 0;
}

#stories .storiesBody .contents .conT dl dd {
  margin-top: 5px;
  font-size: 15px;
}

/* 16px에 80%만 가지게 */
#stories .storiesBody .contents .conT p {
  text-align: right;
  margin-top: 10px;
  font-style: italic;
  font-size: 80%;
}

#stories .storiesBody .contentsBtn > a {
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
}

#stories .storiesBody .contentsBtn .next {
  top: 40%;
  right: 20px;
  transform: rotate(90deg);
}

#stories .storiesBody .contentsBtn .prev {
  top: 40%;
  left: 20px;
  transform: rotate(-90deg);
}

.main-container {
  padding: 0 60px;
}
.main-container .main-cases__group--03 {
  display: flex;
  align-items: flex-start;
  position: relative;
}
.main-container .main-cases__group--03 > .main-cases__first {
  width: 50%;
  padding: 175px;
  box-sizing: border-box;
}
.main-container .main-cases__group--03 > .main-cases__first > .main-cases__item {
  width: 100%;
  max-width: 550px;
}
.main-container .main-cases__group--03 > .main-cases__first > .main-cases__item:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
}
.main-container .main-cases__group--03 .main-cases__last {
  width: 50%;
  padding: 175px;
  box-sizing: border-box;
}
.main-container .main-cases__group--03 .main-cases__last > .main-cases__item {
  width: 100%;
  max-width: 550px;
}
.main-container .main-cases__group--03 .main-cases__last > .main-cases__item:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
}
.main-container .main-cases__group--03::after {
  left: 50%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}
.main-container .main-cases__group--04 {
  display: flex;
  align-items: flex-end;
  position: relative;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.main-container .main-cases__group--04 .main-cases__first {
  width: 37%;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more {
  display: block;
  width: 100%;
  padding: 85px 240px 85px 43px;
  position: relative;
  transition: background 0.3s;
  border-top: 1px solid #000;
  box-sizing: border-box;
  cursor: pointer;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more::before {
  content: "";
  width: 198px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #f4f4f4;
  opacity: 0;
  transition: opacity 0.3s;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more:hover:before {
  opacity: 1;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more .jt-text--05 {
  font-size: 18px;
  line-height: 1.66;
  font-weight: 400;
  letter-spacing: 0;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more i.jt-guide--icon {
  width: 68px;
  height: 42px;
  margin-top: -21px;
  position: absolute;
  right: 70px;
  top: 50%;
}
.main-container .main-cases__group--04 .main-cases__first a.main-cases__more::after {
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 198px;
  background: #000;
}
.main-container .main-cases__group--04 .main-cases__last {
  box-sizing: border-box;
  z-index: 1;
  padding: 114px 0 114px 114px;
  width: 63%;
}
.main-container .main-cases__group--04 .main-cases__last .main-cases__item:hover .jt-heading--03 > span {
  border-bottom: 1px solid transparent;
  border-bottom-color: #000;
}
.main-container .main-cases__group--04::after {
  left: 37%;
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000;
}

.mobile-swiper {
  display: none;
}

#footer {
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  position: relative;
}
#footer .footer__inner {
  position: relative;
}
#footer .footer__inner a.go-top {
  width: 44px;
  padding: 0 8px;
  position: absolute;
  right: 22px;
  top: 60px;
  z-index: 1;
}
#footer .footer__inner a.go-top i.jt-guide--icon {
  display: block;
}
#footer .footer__inner .footer__top {
  padding: 312px 0 311px;
  position: relative;
  border: solid #000;
  border-width: 1px 0;
}
@media screen and (max-width: 1200px) {
  #main .main-cases {
    margin-top: 100px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .heading--01 {
    font-size: 60px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .text--04 {
    margin-top: 9px;
    margin-left: 9px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .motion-anchor__blank {
    width: 24px;
    height: 2px;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first {
    padding: 60px 60px 60px 0;
    width: 63%;
    box-sizing: border-box;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last {
    padding: 60px 0 60px 60px;
    width: 37%;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--02 .main-cases__first .main-cases__typo {
    font-size: 12px;
    padding: 60px 60px 60px 0;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--02 .main-cases__last {
    padding: 60px 0 60px 60px;
  }
  #content #stories > .container {
    padding: 0;
  }
  #content #stories > .container .storiesBody {
    height: 700px;
    position: relative;
    top: 80px;
  }
}
@media screen and (max-width: 992px) {
  #header div .header-logoNav nav > span > a {
    font-size: 16px;
  }
  #main .main-cases {
    margin-top: 110px;
  }
  #main .main-cases .main-cases__title {
    margin-bottom: 18px;
  }
  #main .main-cases .main-cases__title h2.motion-anchor {
    font-size: 0;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .heading--01 {
    font-size: 55px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .text--04 {
    margin-top: 9px;
    margin-left: 9px;
    vertical-align: top;
    font-style: normal;
    font-size: 14px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
  }
  #main .main-cases .main-cases__title h2.motion-anchor .motion-anchor__blank {
    display: inline-block;
    width: 24px;
    height: 2px;
    bottom: 0;
    position: relative;
    animation: blink_caret 1.2s step-end infinite;
  }
  @keyframes blink_caret {
    0%, 100% {
      background: transparent;
    }
    50% {
      background: #000;
    }
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 > .main-cases__first {
    padding: 52px 52px 52px 0;
    width: 63%;
    box-sizing: border-box;
  }
  #main .main-cases__content .main-cases__list .main-cases__group--01 .main-cases__last {
    padding: 52px 0 52px 52px;
    width: 37%;
  }
  #content #stories > .container {
    padding: 0;
  }
  #content #stories > .container .storiesBody {
    height: 550px;
    position: relative;
    top: 60px;
  }
  #content #stories > .container .storiesBody .contents .conT dl dt a {
    font-size: 16px;
  }
  #content #stories > .container .storiesBody .contents .conT dl dd {
    font-size: 0;
  }
  #content #stories > .container .storiesBody .contents:hover dl > dt > a {
    color: #fff;
  }
}
@media screen and (max-width: 576px) {
  #wrap {
    overflow-x: hidden;
  }
  .mobile-modal-menu {
    display: block;
    z-index: 100;
  }
  #header {
    padding: 0 25px;
    height: 80px;
  }
  #header div {
    margin: 7px auto;
  }
  #header div .header-mobile-menu-bar {
    left: 0;
    display: block;
  }
  #header div .header-mobile-menu-bar .header-appBar-wrap {
    left: 0;
  }
  #header div .header-mobile-menu-bar .header-appBar-wrap .header-search-wrap {
    display: block;
    position: absolute;
    width: 22px;
    right: 0;
    top: 20px;
  }
  #header div .header-mobile-menu-bar .header-appBar-wrap .header-search-wrap a {
    font-size: 20px;
  }
  #header div .header-mobile-menu-bar .header-appBar-wrap .header-search-wrap a .fa-search {
    color: #000;
  }
  #header div aside {
    display: none;
  }
  #header div .header-logoNav {
    display: none;
  }
  #main {
    display: none;
  }
  #mobile-main {
    display: block;
    padding: 80px 25px;
  }
  #mobile-main .m-main-visual__typo {
    max-width: calc(100% - 60px);
    margin-top: 15px;
  }
  #mobile-main .m-main-visual__typo .casaTypo {
    font-size: 22px;
    line-height: 1.36;
  }
  #mobile-main .m-main-visual__typo .casaTypo a span {
    display: block;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  #mobile-main .m-main-cases {
    margin-top: 70px;
  }
  #mobile-main .m-main-cases .m-main-cases__title {
    margin-bottom: 18px;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor {
    font-size: 0;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor .m-heading--01 {
    font-size: 47px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor .m-text--04 {
    margin-top: 0;
    margin-left: 9px;
    vertical-align: top;
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: 0;
    display: inline-block;
  }
  #mobile-main .m-main-cases .m-main-cases__title h2.m-motion-anchor .m-motion-anchor__blank {
    display: inline-block;
    width: 24px;
    height: 3px;
    bottom: 0;
    position: relative;
    animation: blink_caret 1.2s step-end infinite;
  }
  @keyframes blink_caret {
    0%, 100% {
      background: transparent;
    }
    50% {
      background: #000;
    }
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 {
    display: flex;
    flex-wrap: wrap;
    border-top: none;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__first .m-main-cases__item a .m-jt-heading--03 {
    margin-top: 15px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__first .m-main-cases__item a .m-jt-heading--03 span {
    font-size: 22px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last {
    margin-top: 56px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb {
    position: relative;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb > img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb:hover img {
    opacity: 0;
    visibility: hidden;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a > .m-main-cases__thumb--hover > img {
    opacity: 1;
    visibility: visible;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a .m-jt-heading--03 {
    margin-top: 15px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary a .m-jt-heading--03 span {
    font-size: 22px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--01 .m-main-cases__last .m-main-cases__secondary:hover .m-jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
    transition: 0.5s;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 {
    margin-top: 56px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb {
    position: relative;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-main-cases__thumb--base img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transition: 1s;
    -webkit-transition: 1s;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-main-cases__thumb--base:hover img {
    opacity: 0;
    visibility: hidden;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-main-cases__thumb--hover > img {
    opacity: 1;
    visibility: visible;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-jt-heading--03 {
    margin-top: 15px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a .m-main-cases__thumb .m-jt-heading--03 span {
    font-size: 22px;
  }
  #mobile-main .m-main-cases__content .m-main-cases__list .m-main-cases__group--02 .m-main-cases__last .m-main-cases__item a:hover .m-jt-heading--03 > span {
    border-bottom: 1px solid transparent;
    border-bottom-color: #000;
    transition: 0.5s;
  }
  #content > #stories {
    display: none;
  }
  .mobile-swiper {
    width: 100%;
    display: block;
  }
  .m-swiper {
    width: 40%;
  }
  .img-bg-1 {
    width: 100%;
  }
  .img-bg-2 {
    width: 100%;
  }
  .img-bg-3 {
    width: 100%;
  }
  .img-bg-4 {
    width: 100%;
  }
  .img-bg-5 {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */